<div class="row text-center">
<h1>WOOHOO Your Order Is Complete.</h1><br/>
<h5>Here is your order #: <%= @sale.guid %></h5><br/>
 <h4>We Shall Be Arriving With Your Favorite Wine In Less Than An Hour!<h4><br/>
   <h4>CHEERS!</h4><br/>
     <div class="row">
         <div class="col-xs-12 col-sm-offset-3 col-sm-6">
             <div class="panel panel-default">
                 <div class="panel-heading c-list">
                     <span class="title">Your Designated Driver For Today</span>
                 </div>

                 <div class="row" style="display: none;">
                     <div class="col-xs-12">
                         <div class="input-group c-search">
                             <input type="text" class="form-control" id="contact-list-search">
                             <span class="input-group-btn">
                                 <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                             </span>
                         </div>
                     </div>
                 </div>

                 <ul class="list-group" id="contact-list">
                     <li class="list-group-item">
                         <div class="col-xs-12 col-sm-3">
                             <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                         </div>
                         <div class="col-xs-12 col-sm-9">
                             <span class="name">Scott Stevens</span><br/>
                             <span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br/></span>
                             <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Text Me If You Have Questions"></span>
                             <span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br/></span>
                         </div>

                         <div class="clearfix"></div>
                     </li>
                 </ul>
             </div>
         </div>
 	</div>

     <div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-sm">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h4 class="modal-title" id="mySmallModalLabel">Ooops!!!</h4>
                 </div>
                 <div class="modal-body">
                     <p>I am being lazy and do not want to program an "Add User" section into this snippet... So it looks like you'll have to do that for yourself.</p><br/>
                     <p><strong>Sorry<br/>
                     ~ Mouse0270</strong></p>
                 </div>
             </div>
         </div>
     </div>

     <!-- JavaScrip Search Plugin -->
     <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

 </div>
