<div class="container">
<div class="row">


<% @wines.in_groups_of(4, false) do |wines| %>
  <div class="row">
    <% wines.each do |wine| %>
      <%= render wine %>
    <% end %>
  </div>
<% end %>

</div>
</div>
